---
import { AppConfig } from '@/utils/AppConfig';
import Base from '@/layouts/Base.astro';
import Section from '@/components/Section.astro';
import Heading from '@/components/Heading.astro';

const { title } = AppConfig;
const { description } = AppConfig;
---

<Base head={{ title, description }}>
	<Section><Heading title="About me" /></Section>
	<Section>
		<h1>Hi, I'm Rado</h1>
		<img src="/images/rado.jpg" width="50%" />
	</Section>
	<!-- <Section>
		<p>
			I'm a Senior Frontend Engineer based in the UK with over 9 years of experience building fast,
			accessible, and maintainable web applications. My journey into software wasn't typical —
			before writing code, I played professional ice hockey and worked in metal fabrication. That
			discipline and resilience still shape how I approach engineering today.
		</p>
	</Section>
	<Section>
		<p>
			I started with the fundamentals — HTML, CSS, JavaScript — and built my way up through
			internships, agency work, and then one of the largest digital wealth manager platform. Along
			the way, I've built marketing sites, internal tools, design systems, and enterprise-grade
			apps.
		</p>
	</Section>
	<Section>
		<p>
			My current focus is modern frontend architecture, testing strategies, performance
			optimisation, and accessibility. I care deeply about writing code that scales, enabling teams
			to collaborate effectively, and advocating for thoughtful engineering decisions.
		</p>
	</Section>
	<Section>
		<p>
			I've conducted 60+ frontend interviews, mentored junior and graduate engineers, and helped
			shape hiring and engineering standards. Mentoring is especially important to me — I want to
			give back and support others on their journey, just as others helped me.
		</p>
	</Section>
	<Section>
		<p>
			Outside of work, I'm into photography, strength training, and playing guitar — all things that
			require patience, iteration, and a keen eye for detail (a lot like coding).
		</p>
	</Section>
	<Section>
		<p>
			This blog is where I share ideas around frontend development, architecture thinking,
			mentoring, and career growth. I hope you find something useful here.
		</p>
	</Section>
	<Section>
		<p>
			You can also find me on <a
				href="https://www.linkedin.com/in/radosvet-petrov-7a927011a/"
				target="_blank"
				rel="noopener">LinkedIn</a
			> or reach out via <a href="mailto:radosvet.it@gmail.com">email</a>. I'm always open to
			mentoring conversations or frontend discussions.
		</p>
	</Section> -->
</Base>
