---
import { AppConfig } from '@/utils/AppConfig';
import Base from '@/layouts/Base.astro';
import Section from '@/components/Section.astro';
import Heading from '@/components/Heading.astro';
import { Image } from 'astro:assets';

import radoImage from '../../images/rado.jpg';

const { title } = AppConfig;
const { description } = AppConfig;
---

<Base head={{ title: `About me | ${title}`, description }}>
	<Section><Heading title="About me" /></Section>
	<Section>
		<div class="mx-auto w-full sm:px-8">
			<blockquote
				class="relative grid items-center rounded-xl bg-white shadow-xl lg:grid-cols-2 dark:border-1 dark:bg-stone-800"
			>
				<Image
					width={580}
					height={537}
					class="hidden h-full w-full rounded-l-xl object-cover lg:block"
					src={radoImage}
					alt="Image of Radosvet Petrov"
					style="clip-path: polygon(0 0%, 100% 0%, 75% 100%, 0% 100%);"
				/>

				<article class="relative p-6 md:p-4 lg:col-span-1">
					<svg
						class="text-primary-600 absolute top-0 right-0 -mt-12 -mr-12 hidden h-24 w-24 md:block"
						width="256"
						height="256"
						viewBox="0 0 256 256"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M65.44 153.526V149.526H61.44H20.48C11.3675 149.526 4 142.163 4 133.105V51.4211C4 42.3628 11.3675 35 20.48 35H102.4C111.513 35 118.88 42.3628 118.88 51.4211V166.187C118.88 195.935 95.103 220.165 65.44 220.979V153.526ZM198.56 153.526V149.526H194.56H153.6C144.487 149.526 137.12 142.163 137.12 133.105V51.4211C137.12 42.3628 144.487 35 153.6 35H235.52C244.633 35 252 42.3628 252 51.4211V166.187C252 195.935 228.223 220.165 198.56 220.979V153.526Z"
							stroke="currentColor"
							stroke-width="8"></path>
					</svg>

					<div class="space-y-8">
						<p class="text-base sm:leading-relaxed">
							Hey, I'm a senior frontend engineer with 9+ years of experience, transitioning from a
							professional ice hockey career. I'm passionate about building accessible, well-tested,
							and user-friendly web applications. My expertise spans <strong
								class="font-bold text-red-600 dark:text-red-400"
							>
								JavaScript, TypeScript, React,</strong
							> and testing tools like <strong class="font-bold text-red-600 dark:text-red-400"
								>React Testing Library, Cypress, and Playwright.</strong
							> I have deep experience with CI/CD pipelines <strong
								class="font-bold text-red-600 dark:text-red-400">Jenkins, GitHub Actions,</strong
							> AWS infrastructure, and a strong grasp of web standards, performance, security, and responsive
							design. I thrive in collaborative, high-impact environments and enjoy mentoring and supporting
							my teammates.
						</p>

						<section class="flex items-center gap-4 space-x-4 md:space-x-0">
							<Image
								width={120}
								height={120}
								class="h-24 w-24 rounded-full lg:hidden"
								src={radoImage}
								alt="Image of Radosvet Petrov"
							/>
							<span class="text-xl font-bold">Radosvet Petrov</span>
						</section>
					</div>
				</article>
			</blockquote>
		</div>
	</Section>
</Base>
