---
import { AppConfig } from '@/utils/AppConfig';
import Base from '@/layouts/Base.astro';
import Section from '@/components/Section.astro';
import Heading from '@/components/Heading.astro';
import { sortPostsByDate } from '@/utils/data.util';
import { MarkdownInstance } from 'astro';
import Cards from '@/components/Cards.astro';

interface Frontmatter {
	title: string;
	description?: string;
	isPublished?: boolean;
}
const { title } = AppConfig;
const { description } = AppConfig;

const allPosts = Object.values(
	import.meta.glob<MarkdownInstance<Frontmatter>>('./**/*.{md,mdx}', { eager: true })
);
allPosts.sort(sortPostsByDate);
const publishedPosts = allPosts.filter((post) => post.frontmatter.isPublished != false);
---

<Base head={{ title: `Blog | ${title}`, description }}>
	<Section><Heading title="Posts" /></Section>
	<Section>
		<Cards posts={publishedPosts} />
	</Section>
</Base>
