---
import { AppConfig } from '@/utils/AppConfig';
import Base from '@/layouts/Base.astro';
import Hero from '@/components/Hero.astro';
import LatestPosts from '@/components/LatestPosts.astro';
import { sortPostsByDate } from '@/utils/data.util';
import { MarkdownInstance } from 'astro';
import type { PostFrontmatter } from '@/types';
import { validatePost } from '@/content/validate';

const { title } = AppConfig;
const { description } = AppConfig;

const rawPosts = import.meta.glob<MarkdownInstance<PostFrontmatter>>('./posts/**/*.{md,mdx}', {
	eager: true
});

const allPosts = Object.entries(rawPosts).map(([id, mod]) => ({
	...mod,
	frontmatter: validatePost(mod.frontmatter, id)
})) as MarkdownInstance<PostFrontmatter>[];

allPosts.sort(sortPostsByDate);
const publishedPosts = allPosts.filter((post) => post.frontmatter.isPublished != false);
const latestPosts = publishedPosts.slice(0, 6);
---

<Base head={{ title, description }}>
	<Hero />
	<LatestPosts posts={latestPosts} />
	<div class="flex justify-center">
		<a
			class="cursor-pointer rounded-md bg-pink-600 px-6 py-2 text-base font-medium text-white transition hover:bg-pink-700"
			href="/posts">Read more articles</a
		>
	</div>
</Base>
