---
import { AppConfig } from '@/utils/AppConfig';
import Base from '@/layouts/Base.astro';
import Hero from '@/components/Hero.astro';
import LatestPosts from '@/components/LatestPosts.astro';
import { sortPostsByDate } from '@/utils/data.util';
import { MarkdownInstance } from 'astro';
import type { PostFrontmatter } from '@/types';

const { title } = AppConfig;
const { description } = AppConfig;

const allPosts = Object.values(
	import.meta.glob<MarkdownInstance<PostFrontmatter>>('./posts/**/*.md', { eager: true })
);
allPosts.sort(sortPostsByDate);
const publishedPosts = allPosts.filter((post) => post.frontmatter.isPublished != false);
const latestPosts = publishedPosts.slice(0, 6);
---

<Base head={{ title, description }}>
	<Hero />
	<LatestPosts posts={latestPosts} />
	<div class="flex justify-center">
		<a
			class="cursor-pointer rounded-md bg-pink-600 px-6 py-2 text-base font-medium text-white transition hover:bg-pink-700"
			href="/posts">Read more</a
		>
	</div>
</Base>
