---
import ADPListIcon from './ADPListIcon.astro';
---

<div>
	<h2 class="text-bold mb-3 pt-6 text-center text-xl sm:text-2xl">Book a mentoring session</h2>
	<ul class="flex flex-row items-center justify-center gap-3">
		<li>
			<a href="https://adplist.org/mentors/radosvet-petrov" target="_blank">
				<ADPListIcon />
			</a>
		</li>
	</ul>
</div>
