---
import Card from './Card.astro';

const { posts } = Astro.props;

interface PostsProps {
	posts: {
		url: string;
		frontmatter: {
			title: string;
			isPinned?: boolean;
			pubDate: string;
			minutesRead: string;
			excerpt: string;
			isPublished?: boolean;
			image: {
				src: string;
				alt: string;
			};
		};
	}[];
}
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
	{posts.map((post: PostsProps['posts'][0]) => <Card post={post} />)}
</div>
