---
import Card from './Card.astro';
import type { PostFrontmatter } from '@/types';

type Post = {
	url: string;
	frontmatter: PostFrontmatter;
};

const { posts } = Astro.props;
---

<div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
	{posts.map((post: Post) => <Card post={post} />)}
</div>
