---
import Section from './Section.astro';
import { MarkdownInstance } from 'astro';
import Cards from './Cards.astro';

interface Props {
	posts: MarkdownInstance<any>[];
}

const { posts } = Astro.props;
---

<Section>
	<div class="flex justify-between pb-4">
		<p class="text-xl font-bold">Latest Posts</p>
		<a href="/posts" class="underline hover:text-orange-600">all posts →</a>
	</div>
	<Cards posts={posts} />
</Section>
