---
import Section from './Section.astro';
import { MarkdownInstance } from 'astro';
import Cards from './Cards.astro';
import type { PostFrontmatter } from '@/types';

type Props = {
	posts: MarkdownInstance<PostFrontmatter>[];
};

const { posts } = Astro.props as Props;
---

<Section>
	<div class="flex justify-between pb-4">
		<p class="text-xl font-bold">Latest Posts</p>
		<a href="/posts" class="underline hover:text-orange-600">all posts →</a>
	</div>
	<Cards posts={posts} />
</Section>
