---
import RelatedPostCard from './RelatedPostCard.astro';
import type { PostFrontmatter } from '@/types';

type Props = {
	posts: {
		url: string;
		frontmatter: PostFrontmatter;
	}[];
};

const { posts } = Astro.props;
---

{
	posts.length > 0 && (
		<section class="mt-12">
			<h2 class="mb-6 text-2xl font-bold text-orange-800 dark:text-amber-300">
				You might also like
			</h2>
			<div class="grid gap-6 md:grid-cols-3">
				{posts.map((post) => (
					<RelatedPostCard post={post} />
				))}
			</div>
		</section>
	)
}
