---
interface Props {
	tag: string;
}

const { tag } = Astro.props;
---

<span
	class="mr-2 mb-2 rounded-xl bg-orange-800 px-3 py-1 text-xs text-white uppercase dark:bg-orange-500 dark:text-black"
>
	#{tag}
</span>
