---
import { AppConfig } from '@/utils/AppConfig';
import Base from '@/layouts/Base.astro';
import PostHeader from '@/components/PostHeader.astro';
import PostContent from '@/components/PostContent.astro';
import Newsletter from '@/components/Newsletter.astro';
import RelatedPosts from '@/components/RelatedPosts.astro';
import type { PostFrontmatter } from '@/types';
import type { MarkdownInstance } from 'astro';
import { validatePost } from '@/content/validate';
import { sortPostsByDate } from '@/utils/data.util';
import Section from '@/components/Section.astro';
import type { ImageMetadata } from 'astro';

type Props = {
	frontmatter: PostFrontmatter;
};

const { frontmatter } = Astro.props;
const img = frontmatter.image;

const postImageGlob = import.meta.glob<{ default: ImageMetadata }>(
	'/src/pages/posts/**/*.{jpeg,jpg,png,gif}'
);
const postImage = postImageGlob[img.src];
if (!postImage)
	throw new Error(`"${img.src}" does not exist in glob: "src/pages/posts/**/*.{jpeg,jpg,png,gif}"`);

const postImageUrl = new URL((await postImage()).default.src, Astro.site).href;

const rawPosts = import.meta.glob<MarkdownInstance<PostFrontmatter>>(
	'/src/pages/posts/**/*.{md,mdx}',
	{ eager: true }
);

const allPosts = Object.entries(rawPosts).map(([id, mod]) => ({
	...mod,
	frontmatter: validatePost(mod.frontmatter, id)
})) as MarkdownInstance<PostFrontmatter>[];

allPosts.sort(sortPostsByDate);

const relatedPosts = (frontmatter.relatedPosts ?? [])
	.map((slug) => allPosts.find((post) => post?.url?.includes(slug)))
	.map((post) => ({
		url: post?.url!,
		frontmatter: post?.frontmatter!
	}));
---

<Base
	head={{
		title: `${frontmatter.title} | ${AppConfig.title}`,
		description: frontmatter.description,
		image: postImageUrl
	}}
>
	<div class="mx-auto w-full max-w-screen-sm">
		<PostHeader {...frontmatter} />

		<PostContent>
			<slot />
		</PostContent>
	</div>

	<Section>
		{relatedPosts.length > 0 && <RelatedPosts posts={relatedPosts} />}
	</Section>

	<Newsletter />
</Base>
